* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
  flex-direction: column;
}

.card {
  border: 1px solid black;
  width: 500px;
  border-radius: 8px;
  margin: 20px;
}
.card-header {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid black;
  padding-right: 14px;
}

.card-content {
  padding: 5px 8px;
}

.card-text {
  font-size: 30px;
  padding: 5px;
  margin-bottom: 6px;
}

.card-edit {
  margin-left: 100px;
}
